.detail {
  width: 100%;
  height: calc(100% - 67px);
  overflow-y: scroll;
}

.detail .back-top {
  position: fixed;
  right: .4rem;
  bottom: 2.02667rem;
  width: 1.17333rem;
  height: 1.17333rem;
  background-color: rgba(34, 34, 34, 0.9);
  border-radius: 50%;
  z-index: 1210;
  text-align: center;
  line-height: 1.17333rem;
  font-size: 0;
}

.detail .back-top i {
  color: #fff;
  font-size: 20px;
}

.detail .carousel-box {
  width: 100%;
  position: relative;
  height: 10rem;
}

.detail .carousel-box .bar-left {
  width: 1.06667rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
  text-align: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: .26667rem;
  left: .26667rem;
  z-index: 1000;
  color: #fff;
}

.detail .carousel-box .like-share {
  height: 0.8rem;
  padding: 0 .4rem .10667rem;
  right: .26667rem;
  border-radius: .42667rem;
  position: absolute;
  top: .26667rem;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.detail .carousel-box .iconfont {
  font-size: 27px;
}

.detail .product-price-box {
  box-sizing: border-box;
  width: 100%;
  height: 1.973333rem;
  background: url("https://h2a.appsimg.com/b.appsimg.com/upload/momin/2020/08/19/22/1597801542667_1125x222_90.png!85.webp") no-repeat 100% 100%;
  padding: .4rem;
  display: flex;
  align-items: center;
}

.detail .product-price-box .price-bar-wrap {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.detail .product-price-box .price-bar-wrap .main-prices-left .price {
  font-size: .66667rem;
  height: .66667rem;
  color: #fff;
}

.detail .product-price-box .price-bar-wrap .main-prices-left .old-price {
  margin-right: .13333rem;
  text-decoration: line-through;
  color: #dddde2;
}

.detail .product-price-box .price-bar-wrap .main-prices-left .discount {
  color: #dddde2;
}

.detail .product-price-box .price-bar-wrap .main-prices-right .price-bar-bg-img img {
  width: 1.84rem;
  height: .48rem;
}

.detail .product-name-container {
  height: 76px;
  background: #fff;
  padding: 0.4rem 0.4rem 0rem 0.4rem;
  margin-bottom: 0.2rem;
}

.detail .product-name-container .product-name .name-box {
  font-size: .37333rem;
  color: #222;
  margin-bottom: .4rem;
}

.detail .product-name-container .product-name .brand-box {
  color: #4a90e2;
  font-size: .32rem;
}

.detail .product-guaranteed {
  padding: 0 0.4rem;
  background: #fff;
  height: 46px;
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail .product-guaranteed .ceil-item {
  flex: 1;
  display: flex;
}

.detail .product-guaranteed .ceil-item img {
  width: 2.08rem;
  height: 0.373333rem;
}

.detail .product-guaranteed > i {
  width: 0.32rem;
}

.detail .color-size {
  background: #fff;
  margin-bottom: 0.2rem;
  padding: .26667rem .4rem;
}

.detail .color-size .sku-color > span {
  font-size: .37333rem;
  line-height: .37333rem;
  font-weight: 700;
  color: #222;
  margin-bottom: .21333rem;
  display: inline-block;
}

.detail .color-size .sku-color .grid-select {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  margin-bottom: .4rem;
}

.detail .color-size .sku-color .grid-select .grid-option {
  width: 2.8rem;
  height: 0.8rem;
  border: 1px solid #ccc;
  border-radius: .05333rem;
  padding: 0 .14667rem;
  margin-left: .1rem;
  margin-top: .32rem;
}

.detail .color-size .sku-size .size-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: .21333rem;
}

.detail .color-size .sku-size .size-box > span:nth-child(1) {
  font-size: .37333rem;
  line-height: .37333rem;
  font-weight: 700;
  color: #222;
}

.detail .color-size .sku-size .size-box > span:nth-child(2) {
  color: #4a90e2;
}

.detail .color-size .sku-size .grid-select {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
}

.detail .color-size .sku-size .grid-select .grid-option {
  width: 2.8rem;
  height: 0.8rem;
  border: 1px solid #ccc;
  border-radius: .05333rem;
  padding: 0 .14667rem;
  margin-left: .1rem;
  margin-top: .32rem;
}

.detail .color-size .grid-select {
  width: 100%;
}

.detail .color-size .grid-select .grid-option {
  height: 0.8rem;
  border: 1px solid #ccc;
  min-width: 2.8rem;
}

.detail .product-param-container {
  padding: .26667rem .4rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.detail .product-param-container .product-param {
  flex: 1;
}

.detail .product-param-container .product-param .params {
  font-size: .37333rem;
  line-height: .8rem;
  font-weight: 700;
  color: #222;
  margin-right: .4rem;
}

.detail .product-param-container .product-param .text {
  color: #585c64;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detail .product-param-container > i {
  width: .4rem;
  height: 0.426667rem;
  display: inline-block;
}

.detail .product-num {
  padding: .26667rem .4rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
}

.detail .product-num > span:nth-child(1) {
  font-size: .37333rem;
  line-height: .90667rem;
  font-weight: 700;
  color: #222;
}

.detail .product-num > span:nth-child(2) {
  font-size: .37333rem;
}

.detail .product-num i {
  color: #ed4ca9;
  margin: 0 0.1rem;
}

.detail .address-box {
  padding: .53333rem .4rem;
  background: #fff;
  display: flex;
}

.detail .address-box > span:nth-child(1) {
  font-weight: 700;
  color: #222;
  font-size: .37333rem;
}

.detail .address-box > span:nth-child(2) {
  display: inline-block;
  line-height: 0.48rem;
  margin: 0 0.2rem;
}

.detail .address-box i {
  color: #ccc;
}

.detail .product-freight {
  border-top: 1px solid #ccc;
  background: #fff;
  padding: .26667rem .4rem;
  display: flex;
  margin-bottom: 0.2rem;
}

.detail .product-freight > span:nth-child(1) {
  width: 1.33333rem;
  min-width: 1.33333rem;
  font-size: .37333rem;
  line-height: .8rem;
  font-weight: 700;
  color: #222;
}

.detail .product-freight > span:nth-child(2) {
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  align-items: center;
  color: #585c64;
}

.detail .product-services {
  background-color: #fff;
  padding: .26667rem .4rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.detail .product-services .services-list {
  flex: 1;
  overflow: hidden;
}

.detail .product-services .services-list .services-option {
  float: left;
  margin-right: .4rem;
  line-height: 0.8rem;
}

.detail .product-services .services-list .services-option > span {
  margin-left: 0.1rem;
}

.detail .product-services .icon-sheglvehao {
  width: .4rem;
  height: 0.426667rem;
  display: inline-block;
}

.detail .product-brand {
  margin-bottom: 0.2rem;
  background: #fff;
}

.detail .product-brand .brand-hd {
  padding: .4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.detail .product-brand .brand-hd .brand {
  display: flex;
  flex: 1;
  align-items: center;
}

.detail .product-brand .brand-hd .brand .img-info {
  width: 1.6rem;
  height: 1.6rem;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.detail .product-brand .brand-hd .brand .img-info img {
  width: 100%;
}

.detail .product-brand .brand-hd .brand .info {
  margin-left: .4rem;
}

.detail .product-brand .brand-hd .collect {
  width: 1.70667rem;
  margin-left: .5333rem;
  border-radius: .2rem;
  color: #de3d96;
  border: 1px solid #ccc;
  line-height: 0.6rem;
  text-align: center;
}

.detail .product-brand .brand-ft {
  padding: .6rem 0;
  text-align: center;
  color: #585c64;
  font-size: .37333rem;
}

.detail .product-qa {
  background: #fff;
  padding: .53333rem .4rem 0rem;
  margin-bottom: 0.2rem;
}

.detail .product-qa .top-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.detail .product-qa .top-wrap .question {
  font-size: .37333rem;
  line-height: .37333rem;
  font-weight: 700;
  color: #222;
}

.detail .product-qa .bottom-wrap .info-box {
  padding: .2rem 0rem;
}

.detail .product-qa .bottom-wrap .info-box .q-info {
  padding: .13333rem 0;
  font-size: .37333rem;
  color: #585c64;
  letter-spacing: 0;
  line-height: .53333rem;
  position: relative;
  padding-left: .69333rem;
}

.detail .product-qa .bottom-wrap .info-box .q-info > span:nth-child(1) {
  background: #8396be;
  color: #fff;
  width: .42667rem;
  height: .42667rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: .16rem;
  text-align: center;
  line-height: .42667rem;
  font-size: .32rem;
  border-radius: .05333rem;
}

.detail .product-qa .bottom-wrap .info-box .a-info {
  padding: .13333rem 0;
  font-size: .37333rem;
  color: #585c64;
  letter-spacing: 0;
  line-height: .53333rem;
  position: relative;
  padding-left: .69333rem;
}

.detail .product-qa .bottom-wrap .info-box .a-info > span:nth-child(1) {
  background: #e6e8f4;
  color: #8396be;
  width: .42667rem;
  height: .42667rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: .16rem;
  text-align: center;
  line-height: .42667rem;
  font-size: .32rem;
  border-radius: .05333rem;
}

.detail .product-qa .bottom-wrap .info-box .a-info > span:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.detail .product-graphic {
  background: #fff;
}

.detail .product-graphic .title {
  padding: .53333rem .4rem;
  font-size: .37333rem;
  line-height: .37333rem;
  font-weight: 700;
  color: #222;
}

.detail .product-graphic .img-list {
  width: 100%;
}

.detail .product-graphic .img-list img {
  width: 100%;
}

.detail .product-cart {
  height: 1.76rem;
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.detail .product-cart .shop-cart {
  width: 2.266667rem;
  height: 1.12rem;
  border-radius: .58667rem;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 1.12rem;
}

.detail .product-cart i {
  font-size: 20px;
}

.detail .product-cart .add-cart {
  width: 5.413333rem;
  height: 1.12rem;
  background: #de3d96;
  border-radius: .58667rem;
  font-size: .42667rem;
  text-align: center;
  line-height: 1.12rem;
  color: #fff;
}
