.good-goodlist{
    position: relative;
    height: 100%;
    .good_list_cat{
        position: absolute;
        top: 2.933333rem;left: 0;bottom: 1.333333rem;
        overflow: auto;
        width: 2.346667rem;
        background: rgb(233, 231, 231);
        .on{
            background: #fff;
            color: red;
        }
        &>div{
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            text-align: center;
            
        }
    }
    .good_children{
        position: absolute;
        top: 2.933333rem;right: 0;bottom: 1.333333rem;
        overflow: auto;
        width: 7.6533rem;
        &>div{
            h5{
                height: 30px;
                margin: 0;
            }
            &>div{
                overflow: hidden;
                &>div{
                    box-sizing: border-box;
                    margin: 5px;
                    width: 85px;
                    height: 85px;
                    float: left;
                    background: brown;
                    border-radius: 10px;
                    &>img{
                        display: block;
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                }
                
            }
        }
        
    }
}