@mixin displayConter{
    margin-left: auto;
    margin-right: auto;
}
//百分之百
@mixin Hundred{
    width: 100%;
    height: 100%;
}


@mixin DomSize($width:20px,$height:20px,$fontsize:12px,$border:none) {
    width: $width;
    height: $height;
    line-height: $height;
    font-size: $fontsize;
    border: $border;

}

.cart{
    background: rgb(243,240,235);
    height: 100%;
    .goods_list{
        background: rgb(255,251,245);
        margin-top: 20px;
        padding: 10px 20px;
        &>h1{
            margin: 0;
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .cart_good{
            position: relative;
            overflow: hidden;
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(185, 183, 183);
            margin-bottom: 15px;
            &>div:nth-child(1){
                width: 85px;
                height: 100px;
                margin-right:10px;
                float: left;
                &>img{
                    width: 100%;
                }
            }
            &>ul{
                width: 180px;
                float: left;
                &>li:nth-child(1){
                    font-size: 12px;
                    line-height: 14px;
                }
                &>li:nth-child(2){
                    font-size: 10px;
                    color: rgb(189, 184, 184);
                    line-height: 20px;
                }
                &>li:nth-child(3){
                    line-height: 20px;

                    &>em{
                        margin-right: 5px;
                        background: rgb(237,236,236);
                        color: rgb(114,135,177);
                        border-radius: 5px;
                    }
                }
                &>li:nth-child(4){
                    span{
                        float: left;
                        border: 1px solid gray;
                        padding:1px 5px;
                    }
                    &>span:nth-child(2){
                        width: 40px;
                        
                        
                        &>input{
                            border: none;
                            display: block;
                            width: 40px;
                            height: 18px;
                            text-align: center;
                        }
                    }
                }
            }
            &>div:nth-child(3){
                width: 60px;
                text-align: center;
                font-size: 14px;
                height: 100px;
                float: left;
                position: relative;
                &>div:nth-child(2){
                    position: absolute;
                    bottom: 15px;
                    right: 0;
                    &>i{
                        font-size: 12px;
                    }
                }
            }
            
        }
    }
    .goods_price{
        background: rgb(255,251,245);
        height: 30px;
        line-height: 30px;
        padding: 10px 20px 20px 0;
        text-align: right;
        font-size: 16px;

    }
    .yhq{
        background:  rgb(255,251,245);
        height: 50px;
        margin-top: 10px;
        position: relative;
        &>span{
            margin-left: 10px;
            line-height: 50px;
            font-size: 14px;
        }
        &>.am-icon.am-icon-right.am-icon-md{
            text-align:right;
            position: absolute;
            right: 10px;
            top: 15px;
        }
    }
    &>div:nth-child(7){
        background:  rgb(255,251,245);
        height: 50px;
        margin-top: 10px;
        position: relative;
        &>span{
            margin-left: 10px;
            line-height: 50px;
            font-size: 14px;
            font-weight: bolder;
        }
        &>em{
            color: rgb(228,0,122);
            font-weight: bolder;
            text-align:right;
            position: absolute;
            right: 10px;
            top: 15px;
        }
    }
    &>div:nth-child(8){
        background:  rgb(255,251,245);
        height: 50px;
        margin-top: 10px;
        position: relative;
        &>span{
            margin-left: 10px;
            line-height: 50px;
            font-size: 14px;
        }
        &>em{
            text-align:right;
            position: absolute;
            right: 10px;
            top: 15px;
        }
    }
    &>div:nth-child(9){
        background:  rgb(255,251,245);
        margin-top: 100px;
        text-align: center;
        padding: 10px;
        span{
            line-height: 35px;
            height: 35px;
            font-size: 16px;
            em{
            color: rgb(228,0,122);
            }
        }
        &>div{
            width: 100%;
            height: 40px;
            background: rgb(228,0,122);
            color: #fff;
            font-size: 18px;
            text-align: center;
            line-height: 40px;
        }
    }
    .no-cart-goods{
        .cart-show{
            box-sizing: border-box;
            height: 350px;
            background: #fff;
            position: relative;
            padding-top: 40px;
            &>img:nth-child(1){
                position: absolute;
                left: 18px; top: 0;
                width: 90%;
            }
            &>img:nth-child(2){
                width: 110px;
                height: 140px;
                
                @include displayConter;
            }
            &>div:nth-child(3){
                // @include displayConter;
                text-align: center;
                @include DomSize(100%,30px,16px);
                margin-top:10px;

            }
            &>div:nth-child(4){
                @include displayConter;
                margin-top:10px;
                text-align: center;
                border-radius: 10px;
                @include DomSize(180px,30px,16px,1px solid  rgb(228,0,122));
            }
        }
    }
    .no-login{
        h1{
            @include DomSize(100%,40px,20px);
            text-align: center;
        }
        button{
            @include DomSize(100px,40px,20px,1px solid rgb(228,0,122));
            position: absolute;
            left: 0;
            right: 0;
        }
    }
}

.discount{
    height: 500px;
    position: relative;
    &>div:nth-child(1){
        overflow: hidden;
        border-bottom: 1px solid rgb(211, 211, 211);
        &>h1{
            margin: 0;
            @include DomSize(100px,60px,18px);
            text-align: left;
            margin-left: 20px;
            color: black;
            float: left;
        }
        &>i{
            @include DomSize(60px,60px,18px);
            float: right;
            text-align: right;
            text-align: center;
            
        }
    }
    &>div:nth-child(3){
        position: absolute;
        bottom: 0;
        width: 100%;
        &>h2{
            @include DomSize(100%, 50px, 18px, );
            background: rgb(228,0,122);
            color: #fff;
        }
    }
    
}